Package: com.mattcmultimedia.messageswiper
Name: MessageSwiper7
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: MattCMultimedia
Author: MattCMultimedia
Section: Tweaks
Version: 0.0.1-224
Installed-Size: 88
