Package: com.mattcmultimedia.messageswiper
Name: MessageSwiper7
Depends: mobilesubstrate, firmware (>= 7.0)
Architecture: iphoneos-arm
Description: Quickly switch between Message threads
Maintainer: MattCMultimedia
Author: MattCMultimedia
Section: Tweaks
Version: 1.0.0-10
Installed-Size: 180
