Package: com.mattcmultimedia.messageswiper7
Name: MessageSwiper7
Depends: mobilesubstrate, firmware (>= 7.0)
Architecture: iphoneos-arm
Description: Quickly switch between Message threads
Maintainer: MattCMultimedia
Author: MattCMultimedia
Section: Tweaks
Version: 1.1.1-1
Installed-Size: 224
