<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- INTRO TEXT -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MessageSwiper7</string>
		</dict>
		<!-- ENABLE -->
		<dict>
			<key>alternateColors</key>
			<true/>
		    <key>cell</key>
		    <string>PSSwitchCell</string>
		    <key>default</key>
		    <true/>
		    <key>defaults</key>
		    <string>com.mattcmultimedia.messageswiper7</string>
		    <key>key</key>
		    <string>globalEnable</string>
		    <key>label</key>
		    <string>Enable</string>
		    <key>postNotification</key>
		    <string>com.mattcmultimedia.messageswiper7/reload</string>
		</dict>
		<!-- WRAP AROUND -->
		<dict>
		    <key>cell</key>
		    <string>PSSwitchCell</string>
		    <key>default</key>
		    <true/>
		    <key>defaults</key>
		    <string>com.mattcmultimedia.messageswiper7</string>
		    <key>key</key>
		    <string>wrapAroundEnabled</string>
		    <key>label</key>
		    <string>Wrap Around</string>
		    <key>postNotification</key>
		    <string>com.mattcmultimedia.messageswiper7/reload</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSLinkListCell</string>
		    <key>default</key>
		    <integer>0</integer>
		    <key>defaults</key>
		    <string>com.mattcmultimedia.messageswiper7</string>
		    <key>detail</key>
		    <string>PSListItemsController</string>
		    <key>key</key>
		    <string>detectCenter</string>
		    <key>label</key>
		    <string>Swipes Start From:</string>
		    <key>validTitles</key>
		    <array>
		        <string>Edges</string>
		        <string>Center</string>
		        </array>
		    <key>validValues</key>
		    <array>
		        <integer>0</integer>
		        <integer>1</integer>
		    </array>
		    <key>postNotification</key>
		    <string>com.mattcmultimedia.messageswiper7/reload</string>
		</dict>

		<dict>
		    <key>cell</key>
		    <string>PSSliderCell</string>
		    <key>default</key>
		    <real>20</real>
		    <key>defaults</key>
		    <string>com.mattcmultimedia.messageswiper7</string>
		    <key>min</key>
		    <real>5</real>
		    <key>max</key>
		    <real>45</real>
		    <key>showValue</key>
		    <true/>
		    <key>label</key>
		    <string>Edge Size (% of screen width)</string>
		    <key>key</key>
		    <string>edgePercent</string>
		    <key>postNotification</key>
		    <string>com.mattcmultimedia.messageswiper7/reload</string>
		</dict>





		<!-- FOOTER -->

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<!-- <key>label</key>
			<string>© MattCMultimedia, AKA Shrugs 2013</string> -->
		</dict>



	</array>
	<key>title</key>
	<string>MessageSwiper7</string>
</dict>
</plist>
